<div class='container'>

 <%= render partial: 'calendar', locals: {start_date: @date} %>
  <br/>
  <br/>
  
  <h3>Upcoming Events</h3>
    <% if !@events.empty? %>
      <ul class="list-group">
        <% @events.each do |event| %>
          <li class="list-group-item"><h4><%= event.name %></h4>
            <p><%= display_time(event) %></p>
            <button><%=link_to "edit", edit_event_path(event)%></button>
            <button><%=link_to "delete", event_path(event), method: :delete, data: {confirm: 'delete this event?' } %></button>
          </li><br/>
        <% end %>
        </ul>
    <% else %>
      <p>You have no scheduled events at this time.</p>
    <% end %>

  <div class="container new-event-form">
    <h1> Add another Event </h1>
    <%= render 'form', :event => @event %>
  </div>
</div>